:root {
  --color-logo: #338496;
  --color-primary: #04d1b2;
}


.faq-content {
  transition: all 0.3s ease;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-icon.is-rotated {
  transform: rotate(180deg);
}

.has-background-hero {
  background-image: linear-gradient(92deg, #37525E 20%, #89A3B3 100%);
}

.menu-list a:hover {
  color: var(--color-primary);
}
