:root {
  --color-logo: #338496;
  --color-primary: #04d1b2;
}

.faq-content {
  transition: all 0.3s ease;
}

.faq-icon {
  transition: transform 0.3s ease;
}

.faq-icon.is-rotated {
  transform: rotate(180deg);
}

.has-background-hero {
  background-image: linear-gradient(92deg, #37525E 20%, #89A3B3 100%);
}

.menu-list a:hover,
#features .card:hover .icon,
#faq .card:hover .card-header,
#faq .card:hover .card-header-title {
  color: var(--color-primary);
}

@media screen and (max-width: 1023px) {
  .navbar-start .navbar-item {
    font-size: 1.5rem;
    text-align: center;
    line-height: 3rem;
  }

  .navbar-end .navbar-item .buttons {
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
  }
}