<!-- NAVIGATION -->
<nav class="navbar is-fixed-top" aria-label="Ana gezinme">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item has-text-weight-bold" href="/">
        <img src="/img/logos/logo.svg" alt="Dipnot">
        Dipnot
      </a>

      <div class="buttons" style="margin-left: auto">
        <div class="navbar-item is-hidden-desktop">
          <button
            id="theme-toggle-mobile"
            type="button"
            class="button is-text"
            aria-label="Tema değiştir"
            style="text-decoration: none;"
          >
            <span class="icon">
              <i class="fa-solid fa-moon"></i>
            </span>
          </button>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </div>

    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Ana sayfa</a>
        <a class="navbar-item" href="/#about">Dipnot nedir?</a>
        <a class="navbar-item" href="/#features">Özellikler</a>
        <a class="navbar-item" href="/#how-it-works">Nasıl çalışır?</a>
        <a class="navbar-item" href="/#faq">S.S.S.</a>
        <a class="navbar-item" href="/#contact">İletişim</a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item is-hidden-touch">
          <button
            id="theme-toggle"
            type="button"
            class="button is-text"
            aria-label="Tema değiştir"
            style="text-decoration: none;"
          >
            <span class="icon">
              <i class="fa-solid fa-moon"></i>
            </span>
          </button>
        </div>
        <div class="navbar-item">
          <div class="buttons are-small">
            <a class="button is-light is-inverted is-outlined is-rounded">
              <img src="/img/svg/google-play.svg" alt="Google Play">
              <span class="ml-2">Google Play</span>
            </a>
            <a class="button is-light is-rounded">
              <img src="/img/svg/app-store.svg" alt="App Store">
              <span class="ml-2">App Store</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
